body {
    overflow-x: hidden;
}

.navContainer {
    position: fixed;
    border-bottom: 1px solid black;
    background-color: white;
    left: 0;
    z-index: 1;
}

.navContainer .nav-item .nav-link {
    color: black;
}

.aboutMeAndSkillsContainer {
    height: 100%;
    /* background-image: url('./images/profile.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.64);
    background-blend-mode: lighten;
    overflow: hidden;
}

/* Main Page Left Section CSS */

.leftSection {
    position: fixed;
    left: 0;
    bottom: 0;
}

.leftSectionIconContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.leftSectionIconContainer .row {
    margin: 1.2rem;
}

.leftSectionVerticalLineContainer {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.leftSectionVerticalLine {
    border-left: 6px solid black;
    height: 100px;
}

/* Main Page Center Section CSS */

.centerSectionSalutation {
    margin-top: 10%;
}

.centerSectionSalutation .t1,
.centerSectionSalutation .t2 {
    font-size: 2.2rem;
}

.centerSectionSalutation .t2 span {
    font-size: 4.2rem;
}

.centerSectionInterest {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.typewriteContainer {
    margin: 1.1rem auto;
}

.typewriteContainer a {
    list-style: none;
}

.centerSectionAboutMe {
    margin-bottom: 1.5rem;
}

.centerSectionSkills {
    margin-bottom: 1rem;
}

.centerSectionSkills div {
    display: inline-block;
}

.centerSectionSkills .skillIcon {
    margin-bottom: 1rem;
    margin-right: 0.5rem;
}

.centerSectionSkills .skillIcon img {
    margin-bottom: 0.5rem;
    width: 3.2rem;
    filter: grayscale(100%);
}

/* Main Page Right Section CSS */

.rightSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0;
    top: 0;
}

.rightSectionEmail {
    writing-mode: vertical-lr;
    margin: 1rem;
    letter-spacing: 0.2rem;
}

.rightSectionVerticalLine {
    border-left: 6px solid black;
    height: 150px;
}

/* Expereince Page */

.experienceContainer {
    height: 100%;
}

@import "compass/css3";
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700);

/* Variables */
/* Fonts */
body {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.5;
    letter-spacing: 0.05em;
}

/* Styling */
.timeline {
    margin: 4em auto;
    list-style-type: none;
    position: relative;
}

.timeline:before {
    background-color: black;
    content: '';
    margin-left: -1px;
    position: absolute;
    top: 0;
    left: 2em;
    width: 2px;
    height: 100%;
}

.timeline-event {
    position: relative;
    width: 72rem;
}

.timeline-event-copy {
    padding: 2em;
    position: relative;
    top: -1.875em;
    left: 4em;
    width: 80%;
}

.timeline-event-copy h3 {
    font-size: 1.75em;
}

.timeline-event-copy h4 {
    font-size: 1.2em;
    margin-bottom: 1.2em;
}

.timeline-event-copy strong {
    font-weight: 700;
}

.timeline-event-copy p:not(.timeline-event-thumbnail) {
    padding-bottom: 1.2em;
}

.timeline-event-icon {
    display: block;
    margin: 0.5em 0.5em 0.5em -0.5em;
    position: absolute;
    width: 6rem;
    top: 0;
    filter: grayscale(100%);
    left: 0em;
}

.timeline-event-thumbnail {
    color: white;
    font-size: 0.75em;
    background-color: black;
    display: inline-block;
    margin-bottom: 1.2em;
    padding: 0.25em 1em 0.2em 1em;
}

.sectionHeading h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 26px;
    letter-spacing: 1px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 16px 0;
    grid-gap: 22px;
    margin-top: 1rem;
}

.sectionHeading h1:after,
.sectionHeading h1:before {
    content: " ";
    display: block;
    border-bottom: 2px solid #ccc;
    background-color: #f8f8f8;
}

/* Project Page */

.projectContainer {
    margin-top: 2rem;
    height: 100%;
    /* background-image: url('./images/projects.jpg'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.64);
    background-blend-mode: lighten;
}

.projectContainer .row {
    display: flex;
    justify-content: center;
}

.projectContainerItem .card {
    margin: 1rem;
    width: 18rem;
}

.projectContainerItem .card-body a {
    margin: 0.25rem;
}

.projectContainerItem .card-img-top {
    filter: grayscale(100%);
}

.projectContainerItem a {
    background-color: black;
    border: 1px solid white;
    width: 7.2rem;
}